body{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    background-color: bisque;
    border-color: blueviolet;
    background-image: url("machote.jpg");
    background-size: 100%;
    height: 500px;
    align-items: center;
}

#titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    color:#e61919; ;
}

.titulo{
    display: flex;
}

#titulo2{
    font-style: oblique;
}
 
 #direccion{
    width: 270px;
 }
 #tarjeta{
    width: 270px;
 }

#button {
    width: 250px;
    margin-top: 60px;
  font-size: 22px;
  font-weight: 200px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button:after {
  content: "";
  background-color: #e61919;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

#button:hover:after {
  top: 0px;
  left: 0px;
}

#submit {
    width: 250px;
  font-size: 22px;
  font-weight: 200px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submit:after {
  content: "";
  background-color: #e61919;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

#submit:hover:after {
  top: 0px;
  left: 0px;
}

#mensaje{
    width: 650px;
}

#informacion{
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    width: 60%;
    font-size:larger;
    align-items:center ;
    color: antiquewhite;
    border-right-color: rgb(149, 82, 211);
    border-bottom-color:rgb(149, 82, 211);
    border-width: 4px;
    height: 500px;
    justify-content: center;
    align-content: center;
}

.titulo{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#titulo{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
   align-items: center;
    width: 350px;
    font-size: 70px;
}

#titulo2{
    font-size: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 350px;
}

#Formulario{
    display: flex;
    width: 49%;
    color: white;
}

#register{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    width: 300px;
}

#nombre,#correo,#password,#password2,#direccion,#tarjeta{
    font-size: 17px;
  border:  white 7px groove;
}

.notificacione,.password,.nombre,.correo,.pasword,.direccion,.tarjeta,.notificaciones,.pais{
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin-left: 20px;
align-items: center;
}

.submit{
    display: flex;
    justify-content: center;
}

.sexo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
}

.fecha{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    font-size: 18px;
     justify-content: center;
}

.pais{
    font-size: 20px;
}

.notificaciones,.notificacione{
    font-size: 17px;
}

#submit{
    font-size: 17px;
}

#sexo1,#sexo2,#sexo3,#fecha,#pais{
    border:  7px groove;
}

@media only screen and (max-width: 1200px) {

 body{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    align-content: centerment: fixed;
    background-size: cover;
 }

 .titulo{
    display: flex;
    flex-direction: column;
 }

 #titulo,#titulo2{
    display: flex;
    font-size: 60px;
    justify-content: center;
 }

 #mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 450px;
 }

 #Formulario{
    width: 100%;
 }

}
